@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.chats-screen-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 600;
  font-size: 20px;
  background-color: gainsboro;
}

.screen{
 display: flex;
}

.icon-bar{
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;     
  padding-top: 20px;
  gap: 10px;
  background-color: gainsboro;              
}


main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-empty{
  justify-content: center;
  align-items: center;
  height: 100%;
}