.sidebar {
  width: 300px;
  min-width: 250px;
  background-color: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 20px;
}

.buttons button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #128c7e;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #25d366;
}

.chat-list {
  margin-top: 20px;
  overflow-y: auto;
  flex: 1;
}

.chat-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 5px;
}

.chat-link:hover {
  background-color: #128c7e;
}

.chat-link.active {
  background-color: #25d366;
}