

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 320px;
  min-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: violet;
  height: calc(100vh - 60px);
}


.sidebar h1 {
  margin-bottom: 20px;
}



/*
.buttons button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #128c7e;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #25d366;
}*/

.chat-list {
  margin-top: 20px;
  overflow-y: auto;
  flex: 1;
}

.chat-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 5px;
}

.chat-link:hover {
  background-color: #128c7e;
}
