.contact-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ece5dd;
}

/* Header del chat */
.chat-header {
  padding: 15px;
  background-color: #075e54;
  color: white;
}

/* Contenedor mensajes */
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Mensajes enviados */
.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
  padding: 8px 12px;
  border-radius: 10px 10px 0 10px;
  max-width: 70%;
  word-wrap: break-word;
}

/* Mensajes recibidos */
.received {
  align-self: flex-start;
  background-color: white;
  padding: 8px 12px;
  border-radius: 10px 10px 10px 0;
  max-width: 70%;
  word-wrap: break-word;
}

/* Input inferior */
.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background-color: #25d366;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #128c7e;
}