@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  --background-color: #F7F5F3;
  --primary-color: #1DAA61;
}

*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.home-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  color: black;
}


.loading-bar{
  width: 200px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;
}

.progress{
  width: 0%;
  height: 100%;
  background-color: gainsboro;
  animation: loading 2s linear forwards;
}

.logo-wsp{
  font-size: 50px;
  color: gainsboro;
  padding: 20px 0;
}

.home-screen span{
  padding: 15px 0;
  color: gray;
  font-size: 14px;
}

@keyframes loading{
  from { width: 0%; }
  to { width: 100%; }
}