*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.home-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: violet;
  color: white;
}

.home-logo {
  width: 150px;
  margin-bottom: 20px;
}

.loading-bar {
  width: 200px;
  height: 5px;
  background-color: blue;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: white;
  animation: loading 3s linear forwards;
}

@keyframes loading {
  from { width: 0%; }
  to { width: 100%; }
}